* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

span {
    display: block;
}

html,
body {
    position: relative;
    height: 100%;
}

.container {
    padding-left: 195px;
    padding-right: 195px;
    max-width: 100%;
}

.navbar {
    padding-top: 14px;
    padding-bottom: 12px;
    background-color: black;
}

.nav__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 168px;
}

.nav__link:nth-child(1) {
    color: #F9CC0F;
    transition: all ease-in-out .4s;
}

.nav__link:nth-child(1):hover {
    color: #FFF;
}

.nav__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 25px;
}

.nav__link {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    transition: all ease-in-out .4s;
}

.nav__link:hover {
    color: #F9CC0F;
}

.nav__btn {
    padding: 8px 12px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: black;
    background-color: #F9CC0F;
    border-radius: 26px;
    transition: all ease-in-out .4s;
    border: 1px solid transparent;
}

.nav__btn:hover {
    color: #F9CC0F;
    background-color: #000;
    border: 1px solid #F9CC0F;
}

.banner--sec {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("image/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner__main {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.banner__main p {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.banner__main h1 {
    font-family: 'Poppins';
    font-size: 60px;
    font-weight: 800;
    line-height: 83px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.banner__btn {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: black;
    padding: 10px 28px;
    background-color: #F9CC0F;
    border-radius: 26px;
    transition: all ease-in-out .4s;
}

.banner__btn:hover {
    color: #F9CC0F;
    background-color: #fff;
}

.pure--sec {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F1A500;
}

.pure__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 85px;
}

.pure__content {
    padding: 60px 4px 70px 4px;
    background-color: #fff;
    border-radius: 48px;
    width: 20%;
}

.pure__img {
    width: 109px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.pure__img__gas {
    width: 99px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.pure__img__fire {
    width: 106px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.pure__content h4 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 15px;
    text-align: center;
}

.pure__content p {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.company--sec {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #FFFFFF;
}

.company__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 85px;
}

.company__img {
    width: 36%;
}

.company__content h4 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #F1A500;
    margin-bottom: 10px;
}

.company__content {
    width: 31%;
}

.company__content h2 {
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    color: #000;
    margin-bottom: 20px;
}

.company__content p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #5B5959;
    margin-bottom: 40px;
}

.satisfied__main {
    padding: 6px;
    width: 42%;
    border: 1px solid #000;
    border-radius: 6px;
    margin-bottom: 60px;
}

.satisfied__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.satisfied__img {
    Width: 53px;
}

.satisfied__wrap p {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #5B5959;
    margin-bottom: 0px;
}

.company__btn {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
    background-color: #F9CC0F;
    border-radius: 26px;
    padding: 8px 28px;
    transition: all ease-in-out .4s;
}

.company__btn:hover {
    color: #F9CC0F;
    background-color: #000;
}

.best--sec {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F1A500;
}

.best__head h2 {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0.005em;
    text-align: center;
    width: 29%;
    margin: 0 auto;
    color: #000;
    margin-bottom: 40px;
}

.best__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.best__main {
    width: 25%;
}

.best__img {
    width: 340px;
    margin-bottom: 28px;
}

.best__main h4 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
}

.best__main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.best__btn {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
    background-color: #fff;
    border-radius: 26px;
    padding: 8px 28px;
    transition: all ease-in-out .4s;
}

.best__btn:hover {
    color: #F9CC0F;
    background-color: #000;
}

.rate--sec {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
}

.rate__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 20px;
}

.rate__content {
    width: 48%;
}

.rate__content h4 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #F1A500;
    margin-bottom: 10px;
}

.rate__content h2 {
    width: 56%;
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    color: #000;
    margin-bottom: 20px;
}

.rate__para {
    width: 90%;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #5B5959;
    margin-bottom: 40px;
}

.current__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 75px;
    margin-bottom: 48px;
}

.current__main {
    padding: 12px;
    border-radius: 12px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 15px;
}

.current__img {
    width: 60px;
}

.current__content h4 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #000;
    margin-bottom: 4px;
}

.current__content p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #5B5959;
    margin-bottom: 0px;
}

.service__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 75px;
    padding-left: 50px;
}

.service__main {
    padding: 12px;
    border-radius: 12px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 15px;
}

.service__img {
    width: 60px;
}

.service__content h4 {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #000;
    margin-bottom: 4px;
}

.service__content p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #5B5959;
    margin-bottom: 0px;
}

.rate__img {
    width: 24%;
}

.facility--sec {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #e5e5e5;
    position: relative;
    z-index: 1;
}

.facility__head h2 {
    width: 39%;
    margin: 0 auto;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-bottom: 240px;
}

.number__main {
    padding: 135px 173px 88px 260px;
    background-color: #F1A500;
    border-radius: 119px;
    margin-bottom: 145px;
}

.number__content h2 {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    color: #fff;
}

.number__content h4 {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    color: #fff;
    margin-bottom: 15px;
}

.number__content p {
    width: 35%;
    color: #fff;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
}

.number__btn {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    background-color: #164B86;
    border-radius: 26px;
    padding: 8px 28px;
    transition: all ease-in-out .4s;
}

.number__btn:hover {
    color: #F9CC0F;
    background-color: #fff;
}

.alternative__main h2 {
    width: 35%;
    margin: 0 auto;
    color: #000;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-bottom: 60px;
}

.alternative__main .swiper {
    width: 100%;
    height: 100%;
}

.alternative__main .swiper-slide {
   width: 100%;
}

.alternative__main .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alternative__main .swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.alternative__main {
    position: relative;
    z-index: 1;
}

.alternative__img {
    width: 86px;
}

.alternative__fuel__main {
    padding: 41px 44px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.alternative__content h4 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: #F1A500;
}

.alternative__content p {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    color: #000;
}
.alternative__abs__img {
    width: 642px;
    position: absolute;
    top: 115px;
    left: 428px;
} 
.swiper-pagination-bullet-active{
    background-color: #164B86 !important;
}
.swiper-pagination-bullet:not(.active) {
    background-color: #F1A500;
    opacity: 100%;
}
.number__top__abs {
    padding: 45px 70px;
    background-color: #164B86;
    border-radius: 119px;
    position: absolute;
    top: 292px;
    left: 510px;
}

.wifi__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
}

.wifi__img {
    width: 111px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.wifi__content {
    padding: 2px 14px;
    background-color: #000;
    border-radius: 20px;
}

.wifi__content h4 {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #fff;
}

.number__bottom__abs {
    padding: 27px 83px 26px 101px;
    background-color: #164B86;
    border-radius: 119px;
    position: absolute;
    bottom: 508px;
    right: 340px;
}

.petrol__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.petrol__main {
    text-align: center;
    margin: 0 auto;
}

.petrol__img {
    width: 81px;
    margin: 0 auto;
}

.petrol__content h3 {
    font-family: 'Poppins';
    font-size: 55px;
    font-weight: 600;
    line-height: 81px;
    color: #fff;
}

.petrol__content p {
    width: 99%;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

.find__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.find__img {
    width: 50%;
}

.find__content {
    padding: 63px 80px 85px 80px;
    background-color: #FFF;
    width: 50%;
}

.find__content h3 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #F1A500;
    margin-bottom: 16px;
}

.find__content h2 {
    width: 63%;
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    color: #000000;
    margin-bottom: 40px;
}

.culture__main {
    padding: 10px 18px 11px 18px;
    background-color: #F0F0F0;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 15px;
    width: 42%;
    margin-bottom: 20px;
}

.culture__main__second {
    padding: 10px 18px 11px 18px;
    background-color: #F0F0F0;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 15px;
    width: 42%;
    margin-bottom: 80px;
}

.culture__img {
    width: 111px;
}

.culture__content p {
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    color: #000;
}

.culture__content h4 {
    font-family: 'Plus Jakarta Sans';
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    color: #000;
    margin-bottom: 8px;
}

.read__link {
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    color: #F1A500;
}

.find__btn {
    margin-top: 60px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #000;
    background-color: #F9CC0F;
    border-radius: 26px;
    padding: 8px 28px;
    transition: all ease-in-out .4s;
}

.find__btn:hover {
    color: #F9CC0F;
    background-color: #000;
}

.member--sec {
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: #e5e5e5;
}

.member__head {
    margin-bottom: 50px;
}

.member__head p {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 20px;
    color: #F1A500;
    text-align: center;
}

.member__head h2 {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: -0.005em;
    text-align: center;
    color: #000000;
    width: 39%;
    margin: 0 auto;
}

.member__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 85px;
}

.member__main {
    width: 24%;
}

.member__img {
    width: 100%;
}

.member__content {
    text-align: center;
}

.member__content h4 {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    color: #000;
}

.member__content p {
    font-family: 'Inter';
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    color: #F1A500;
}

.people__main {
    padding: 78px 120px 25px 120px;
    margin: 0px 60px 50px;
    background-color: #164B86;
    border-radius: 119px;
    position: relative;
    z-index: 999;
}

.people__head {
    margin-bottom: 65px;
}

.people__head p {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #F9CC0F;
    text-align: center;
}

.people__head h2 {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: -0.005em;
    text-align: center;
    color: #FFF;
    width: 44%;
    margin: 0 auto;
}
.people__main .testimonail__slider {
    padding: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.testimonial__main {
    width: 70%;
    padding: 25px 75px;
    background-color: #fff;
    border-radius: 38px;
    margin: 0 auto;
}

.profile__img {
    width: 135px;
    margin: 0 auto;
    text-align: center;
}

.testimonial__main h5 {
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    color: #000;
}

.testimonial__main p {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    color: #F1A500;
    margin-bottom: 15px;
}

.testimonail__img {
    width: 92px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.testimonail__para {
    background-color: #F1A500;
    padding: 8px 25px 15px 25px;
    border-radius: 14px;
}

.testimonail__para p {
    font-family: 'Poppins';
    font-size: 27px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #FFF !important;
}
.people__main .swiper-pagination-bullet-active{
    background-color: #fff!important;
}
.pricing__head h2 {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: -0.005em;
    text-align: center;
    color: #000;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.pricing__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.pricing__content {
    padding: 75px 110px 50px 110px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background-color: #F9CC0F;
}

.pricing__content:nth-child(2) {
    background-color: #F1A500;
}

.pricing__content:nth-child(3) {
    background-color: #164B86;
}

.pricing__img {
    width: 95px;
    text-align: center;
    margin: 0 auto;
}

.pricing__content h4 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.pricing__content p {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: #FFF;
}

section.location--sec {
    position: relative;
}

iframe {
    width: 100%;
}

.location__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 374px;
    left: 292px;
}

.location__content {
    padding: 40px 20px;
    background-color: #F1A500;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.location__content:nth-child(2) {
    padding: 40px 80px;
    background-color: #164B86;
    border-radius: 0px;
}

.location__content:nth-child(3) {
    padding: 40px 50px;
    background-color: #F1A500;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.location__img {
    width: 68px;
}

.location__content p {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #FFF;
}

.footer--sec {
    padding-top: 170px;
    padding-bottom: 85px;
    background-color: #000;
}

.footer__main {
    text-align: center;
}

.footer__logo img {
    width: 166px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 30px;
}

.footer__link {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #fff;
    transition: all ease-in-out .4s;
}
.footer__link:hover{
    color: #F9CC0F;
}
.footer__link:nth-child(1) {
    color: #F9CC0F;
}
.social__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.social__main{
    width: 50px;
    height: 50px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 60px;
}
.social__img img{
    width: 22px;
}